{% load tailwind_filters %}


<div hx-target="this" hx-swap="outerHTML" class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
    <form method="POST">
        {{ form.media.js }}
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body inline">
                        {% csrf_token %}
                        <div class="table-stats order-table">
                            <h4 class="dropdown" style="display:inline; margin:10px ;">Supplier: {{form.supplier}}</h4> {{form.supplier.errors}}
                            <h4 class="dropdown" style="display:inline; margin:10px;">Yard: {{form.yard}} </h4>
                            <h4 class="dropdown" style="display:inline; margin-bottom:20px ;">Grade: {{form.grade}}</h4><br><br>

                            <div id="div1">
                                <section id="section11">

                                </section>
                                <section id="section12" style="justify-content: space-between;">
                                    <strong style="justify-content: space-between;">Type: </strong>
                                    <h4 id="typeo" style="display:inline; color: black; margin-right: 100px;"></h4>
                                    <strong style="justify-content: space-between;">Recovery: </strong>
                                    <p id="recovery" style="display:inline; color: black; "></p>
                                </section>
                                <aside id="aside1">
                                    <strong>Duty Cost: </strong>{{form.duty}}
                                    <p></p>
                                </aside>
                            </div>

                            <div style="display: none;">
                                <strong>Grade Name: </strong>
                                <p id="name" style="display:none; color: black; "></p><br><br>
                                <strong>Details: </strong>
                                <p id="details" style="display:none; color: black;"></p> <br><br>
                                <strong>Grade Group: </strong>
                                <p id="gradegrp" style="display:none; color: black;"></p> <br><br>
                                <strong>Miscellanous: </strong>
                                <p id="misc" style="display:none; color: black;"></p> <br><br>
                            </div>
                            <div id="div">
                                <section id="section1">
                                    {% csrf_token %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Rate/Kg</th>
                                                <th scope="col">% Weightage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr hidden id="c">
                                                <td id="metaln"></td>
                                                <td id="metalc"></td>
                                                <td id="metalw">{{form.metalw}}</td>
                                            </tr>
                                            <tr hidden id="n">
                                                <td id="metalnn"></td>
                                                <td id="metalcn"></td>
                                                <td id="metalwc"> {{form.metalwc}}</td>
                                            </tr>
                                            <tr hidden id="1">
                                                <td>{{grad.metaln1}}</td>
                                                <td>{{grad.metalc1}}</td>
                                                <td id="metalw1">{{form.metalw2}}</td>
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc2 != 0 %}
                                                <td>{{grad.metaln2}}</td>
                                                <td>{{grad.metalc2}}</td>
                                                <td id="metalw2">{{form.metalw1}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc3 != 0 %}
                                                <td>{{grad.metaln3}}</td>
                                                <td>{{grad.metalc3}}</td>
                                                <td id="metalw3">{{form.metalw3}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc4 != 0 %}
                                                <td>{{grad.metaln4}}</td>
                                                <td>{{grad.metalc4}}</td>
                                                <td id="metalw4">{{form.metalw4}}</td>

                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc5 != 0 %}
                                                <td>{{grad.metaln5}}</td>
                                                <td>{{grad.metalc5}}</td>
                                                <td id="metalw5">{{form.metalw5}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc6 != 0 %}
                                                <td>{{grad.metaln6}}</td>
                                                <td>{{grad.metalc6}}</td>
                                                <td id="metalw6">{{form.metalw6}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc7 != 0 %}
                                                <td>{{grad.metaln7}}</td>
                                                <td>{{grad.metalc7}}</td>
                                                <td id="metalw7">{{form.metalw7}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc8 != 0 %}
                                                <td>{{grad.metaln8}}</td>
                                                <td>{{grad.metalc8}}</td>
                                                <td id="metalw8">{{form.metalw8}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc9 != 0 %}
                                                <td>{{grad.metaln9}}</td>
                                                <td>{{grad.metalc9}}</td>
                                                <td id="metalw9">{{form.metalw9}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc10 != 0 %}
                                                <td>{{grad.metaln10}}</td>
                                                <td>{{grad.metalc10}}</td>
                                                <td id="metalw10">{{form.metalw10}}</td>

                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc11 != 0 %}
                                                <td>{{grad.metaln11}}</td>
                                                <td>{{grad.metalc11}}</td>
                                                <td id="metalw11">{{form.metalw11}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc12 != 0 %}
                                                <td>{{grad.metaln12}}</td>
                                                <td>{{grad.metalc12}}</td>
                                                <td id="metalw12">{{form.metalw12}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc13 != 0 %}
                                                <td>{{grad.metaln13}}</td>
                                                <td>{{grad.metalc13}}</td>
                                                <td id="metalw13">{{form.metalw13}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc14 != 0 %}
                                                <td>{{grad.metaln14}}</td>
                                                <td>{{grad.metalc14}}</td>
                                                <td id="metalw14">{{form.metalw14}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc15 != 0 %}
                                                <td>{{grad.metaln15}}</td>
                                                <td>{{grad.metalc15}}</td>
                                                <td id="metalw15">{{form.metalw15}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc16 != 0 %}
                                                <td>{{grad.metaln16}}</td>
                                                <td>{{grad.metalc16}}</td>
                                                <td id="metalw16">{{form.metalw16}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc17 != 0 %}
                                                <td>{{grad.metaln17}}</td>
                                                <td>{{grad.metalc17}}</td>
                                                <td id="metalw17">{{form.metalw17}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc18 != 0 %}
                                                <td>{{grad.metaln18}}</td>
                                                <td>{{grad.metalc18}}</td>
                                                <td id="metalw18">{{form.metalw18}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc19 != 0 %}
                                                <td>{{grad.metaln19}}</td>
                                                <td>{{grad.metalc19}}</td>
                                                <td id="metalw19">{{form.metalw19}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.metalc20 != 0 %}
                                                <td>{{grad.metaln20}}</td>
                                                <td>{{grad.metalc20}}</td>
                                                <td id="metalw20">{{form.metalw20}}</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>

                                </section>
                                <section id="section2">
                                    <!-- <strong>Type: </strong>
                                    <p id="typeo" style="display:inline; color: black; "></p><br><br>
                                    <strong>Recovery </strong>
                                    <p id="recovery" style="display:inline; color: black; "></p><br><br> -->

                                </section>
                                <aside id="aside">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr hidden id="cost">
                                                <td id="costn"></td>
                                                <td id="costc"></td>

                                            </tr>
                                            <tr hidden id="cn">
                                                <td id="costnn"></td>
                                                <td id="costcn"></td>
                                            </tr>
                                            <tr hidden id="c1">
                                                <td>{{grad.costn1}}</td>
                                                <td>{{grad.costc1}}</td>
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc2 != 0 %}
                                                <td>{{grad.costn2}}</td>
                                                <td>{{grad.costc2}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc3 != 0 %}
                                                <td>{{grad.costn3}}</td>
                                                <td>{{grad.costc3}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc4 != 0 %}
                                                <td>{{grad.costn4}}</td>
                                                <td>{{grad.costc4}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc5 != 0 %}
                                                <td>{{grad.costn5}}</td>
                                                <td>{{grad.costc5}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc6 != 0 %}
                                                <td>{{grad.costn6}}</td>
                                                <td>{{grad.costc6}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc7 != 0 %}
                                                <td>{{grad.costn7}}</td>
                                                <td>{{grad.costc7}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc8 != 0 %}
                                                <td>{{grad.costn8}}</td>
                                                <td>{{grad.costc8}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc9 != 0 %}
                                                <td>{{grad.costn9}}</td>
                                                <td>{{grad.costc9}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc10 != 0 %}
                                                <td>{{grad.costn10}}</td>
                                                <td>{{grad.costc10}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc11 != 0 %}
                                                <td>{{grad.costn11}}</td>
                                                <td>{{grad.costc11}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc12 != 0 %}
                                                <td>{{grad.costn12}}</td>
                                                <td>{{grad.costc12}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc13 != 0 %}
                                                <td>{{grad.costn13}}</td>
                                                <td>{{grad.costc13}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc13 != 0 %}
                                                <td>{{grad.costn13}}</td>
                                                <td>{{grad.costc13}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc14 != 0 %}
                                                <td>{{grad.costn14}}</td>
                                                <td>{{grad.costc14}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc15 != 0 %}
                                                <td>{{grad.costn15}}</td>
                                                <td>{{grad.costc15}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc16 != 0 %}
                                                <td>{{grad.costn16}}</td>
                                                <td>{{grad.costc16}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc17 != 0 %}
                                                <td>{{grad.costn17}}</td>
                                                <td>{{grad.costc17}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc18 != 0 %}
                                                <td>{{grad.costn18}}</td>
                                                <td>{{grad.costc18}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc19 != 0 %}
                                                <td>{{grad.costn19}}</td>
                                                <td>{{grad.costc19}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr hidden>
                                                {% if grad.costc20 != 0 %}
                                                <td>{{grad.costn20}}</td>
                                                <td>{{grad.costc20}}</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </aside>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>

{% if quality %}
<button type="submit" style="width: 120px; display:inline ; margin-left: 37%; margin-bottom:10px ; "
    hx-post="{% url 'update-quality' quality.id %}"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Submit
</button>
<button hx-get="{% url 'detail-quality' quality.id %}"
    style="width: 120px; display: inline; margin-left:10px ; margin-bottom:10px ;" type="button"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Cancel
</button>
{% else %}
<button type="submit" style="width: 120px; margin-left: 45%; " hx-post="."
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded content-center">
    Submit
</button>
{% endif %}
</form>
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>
</div>