{% load tailwind_filters %}

<div hx-target="this" hx-swap="outerHTML" class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        {% if yard %}
        <button type="submit" hx-post="{% url 'update-yard' yard.id %}"
        class="btn btn-success btn-info">
        Submit
        </button>
        <button hx-get="{% url 'detail-yard' yard.id %}" type="button"
        class="btn btn-success btn-info">
        Cancel
        </button>
        {% else %}
        <button type="submit" style="margin-top:20px ;"  hx-post="."
        class="btn btn-success btn-info" >
        Submit
        </button>
        {% endif %}
    </form>
</div>