<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        Logo
      </a>
    </div>
    <div class="navbar-inner">

      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <h3 class="nav-link-text text-lg" style="margin-left: -12px;">Masters</h3>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'supplier-list' %}">
              <i class="ni ni-single-02 text-orange"></i>
              <span class="nav-link-text">Supplier</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="{% url 'metal-list' %}">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Metal</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'cost-list' %}">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Cost</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'grade-list' %}">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Grade</span>
            </a>
          </li>
          <hr/>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <h3 class="nav-link-text text-lg" style="margin-left: -12px;">Quality</h3>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'quality-list' %}">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Quality</span>
            </a>
          </li>
          <hr/>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
      </div>
    </div>
  </div>
</nav>