<!-- <div class="form-group">
                                <label for="alu" class="control-label mb-1">ALU</label>
                                {{ form.alu}}
                            </div>
                            <div class="form-group">
                                <label for="zn" class="control-label mb-1">Zn</label>
                                {{ form.zn }}
                            </div>
                            <div class="form-group">
                                <label for="alcu" class="control-label mb-1">ALCU</label>
                                {{ form.supp_id }}
                            </div>
                            <div class="form-group">
                                <label for="ss" class="control-label mb-1">SS</label>
                                {{ form.ss }}
                            </div>
                            <div class="form-group">
                                <label for="pb" class="control-label mb-1">PB</label>
                                {{ form.pb }}
                            </div>
                            <div class="form-group">
                                <label for="pvc" class="control-label mb-1">PVC</label>
                                {{ form.pvc }}
                            </div>
                            <div class="form-group">
                                <label for="fibre" class="control-label mb-1">FIBRE</label>
                                {{ form.fibre }}
                            </div>
                            <div class="form-group">
                                <label for="others1" class="control-label mb-1">OTHERS1</label>
                                {{ form.others1 }}
                            </div>
                            <div class="form-group">
                                <label for="others2" class="control-label mb-1">OTHERS2</label>
                                {{ form.others2 }}
                            </div>
                            <div class="form-group">
                                <label for="nm" class="control-label mb-1">NM</label>
                                {{ form.nm }}
                            </div>

                            <div class="form-group">
                                <label for="others1" class="control-label mb-1">TOTAL</label>
                                {{ form.others1+form.alu+form.pvc+form.pb+form.ss+form.fibre+form.others2+form.nm }}
                            </div>