{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create Supplier{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class=" m-0">
            <div class="-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <h6 class="heading-small text-muted mb-4">Supplier Information</h6>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                  <div class="form-group">{{ form.email|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                  <div class="form-group">
                                    {{ form.mob_no|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    {{ form.contact|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">{{ form.address|as_crispy_field }}
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                
                            </div>
                            <hr class="my-4" />
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Export information</h6>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      {{ form.ename|as_crispy_field }}
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">{{ form.eemail|as_crispy_field }}
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      {{ form.emob_no|as_crispy_field }}
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">{{ form.econtact|as_crispy_field }}
                                    </div>
                                  </div>
                              </div>
                              </div>
                            </div>
                            <hr class="my-4" />
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info">
                                    <span id="payment-button-amount">Create Supplier</span>
                                </button>
                            </div>
                          </form>
                        
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div>
    <!--/.-->
</div>
{% endblock content %}