{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create Supplier{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class=" m-0">
            <div class="-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="">
    <div class="-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create Supplier</strong>
            </div>
            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}   
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.name|as_crispy_field }}
                                    {{ form.contact|as_crispy_field }}
                                </div>
                                <!-- <div class="form-row"> -->
                                <div class="form-group col-md-6">
                                    {{ form.address|as_crispy_field }}
                                    {{ form.mob_no|as_crispy_field }}
                                </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.email|as_crispy_field }}
                            </div></div>                         
                            <!-- <div class="form-group ">
                                <label for="name" class="control-label mb-1 ">Name</label>
                                {{ form.name }}
                                <label for="address" class="control-label mb-1 ">Address</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group ">
                                <label for="contact" class="control-label mb-1 ">Contact</label>
                                {{ form.contact }}
                                <div style="margin: 10px;"></div>
                                <label for="mob_no" class="control-label mb-1 ">Mobile Number</label>
                                {{ form.mob_no }}
                            </div>
                            <div class="form-group ">
                                <div style="margin: 10px;"></div>
                                <label for="email" class="control-label mb-1 ">Email</label>
                                {{ form.email }}
                            </div> -->
                            <h2 style="margin-bottom:20px ;">Export Details:</h2>
                            <div class="row">
                                <div class="form-group col">
                                    <div style="margin: 10px;"></div>
                                    {{ form.ename|as_crispy_field }}
                                    <div style="margin: 10px;"></div>
                                        <!-- <label for="econtact" class="control-label mb-1 asterisk">Contact Person<span class="asteriskField">*</span></label> -->
                                    {{ form.econtact|as_crispy_field }}
                                </div>
                                <div class="form-group col">
                                    <div style="margin: 10px;"></div>
                                    {{ form.emob_no|as_crispy_field }}
                                    <div style="margin: 10px;"></div>
                                    {{ form.eemail|as_crispy_field }}
                                </div>
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Supplier</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div>
    <!--/.-->
</div>
{% endblock content %}